@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

header {
    background-color: #1F2937;
    padding: 25px 20px 15px 20px;
}

header >  * {
    width: 80%;
    margin: 0 auto 50px auto;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
}

img {
    width: 450px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

header a,
header p {
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 500;
}

.btn {
    display: inline-block;
    background-color: #3882F6;
    padding: 7px 28px;
    border-radius: 8px;
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.hero-text > * {
    margin-bottom: 20px;
}

.random-image {
    max-width: 250px;
}

.random-image img {
    width: 100%;
    height: 180px;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

section {
    padding: 40px 0;
}

.random-info {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.random-info > * {
    margin-bottom: 40px;
}

.quote-section {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFE7EB;
    color: #1F2937;
}

.quote-container {
    width: 65%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.speaker {
    font-weight: 600;
    text-align: right;
    font-size: 24px;
}

.sign-up .btn {
    border: 2px solid #E5E7EB;
    color: #E5E7EB;
    font-weight: 600;
}

.sign-up-container {
    color: #E5E7EB;
    background-color: #3882F6;
    width: 75%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.bold {
    font-weight: 700;
    margin-bottom: 3px;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}